{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="text-align: center;">
        <h1>Internal server error</h1>
        <div>
            We are going to be back on track soon...
            Sorry for the trouble!
        </div>    
    </div>
{% endblock %}
