{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="text-align: center;">
        <h1>Page not found</h1>
        <div>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
        </div>    
    </div>
{% endblock %}
