{% extends 'admin/base_admin.html.twig' %}
{% block body %}
    <h2>Edit category</h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}